*{
    margin: 0;
    padding: 0;
    font-family: 'Popppins', sans-serif;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(10, 236, 74) 0%, rgba(0,212,255,1) 100%);
    /* background: #387F39; */
    padding: 10px;
    padding-top: 30px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.class1{
    font-size: 20px;
    /* margin-top: 200px; */
    margin: 20px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.class2{
    font-size: 20px;
    /* margin-top: 200px; */
    margin: 20px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field{
    border-radius: 30px;
    background: aquamarine;
}

.input-box{
    min-width: 700px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

.button1{
    border: none;
    outline: none;
    color: white;
    background: #0D7C66;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.2s ease;
}

.button1:hover{
    background: #41B3A2;
}

#table{
    width: 900px;
    background:aquamarine;
}

.header{
    padding: 8px 0;
    color: rgb(134, 228, 207);
    background: #0D7C66;
}

tr{
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.data{
    padding-left: 5px;
    display: flex;
    justify-content: left;
    min-width: 300px;
}

.button-data{
    display: flex;
    justify-content: left;
    padding: 0 10px;
}

.button2{
    border: none;
    outline: none;
    color: white;
    background: #0D7C66;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.2s ease;
}

.button2:hover{
    background: #41B3A2;
}

.button3{
    border: none;
    outline: none;
    color: rgb(134, 228, 207);
    background: #0D7C66;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
}